<div id="container">
    <h3>Login</h3>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="email">E-mail</label>
            <input id="email" type="email" formControlName="email">
        </div>

        <div>
            <label for="pass">Password</label>
            <input id="pass" type="password" formControlName="password">
        </div>
        <button class="button" type="submit">Login</button>
    </form>
    <div id="message">{{message}}</div>

    <form [formGroup]="captchaForm" (ngSubmit)="onCaptchaSubmit()" *ngIf="captcha">
        <img src="assets/captcha.jpeg">
        <div>
            <input type="text" formControlName="text">
        </div>
        <button class="button" type="submit">Submit</button>
    </form>
</div>