input{
    width: 100%;
}

button {
   margin-top: 15px;
}

label {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}

#container {
    margin: auto;
    width: 60%;
}

#message {
    margin-top: 10px
}

img{
    max-width: 100%;
    height: auto;
}