#container{
    display: block;
    padding-top: 2em;
    width: 100%;
    margin: auto;
}

@media only screen and (min-width: 1200px){
    #container {
        display: block;
        padding-top: 2em;
        width: 1200px;
        margin: auto;
    }
}