$widthBreakpoint: 600px;

#container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

img{
    object-fit: cover;
    width: 100%;
    height: 200px;
}

.news-item {
    width: 100%;
}

.title {
    padding: 10px;
    background-color: #eee;
}

@media only screen and (min-width: 600px){
    .news-item {
        width: 50%;
    }
}